@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-------------------------------------CSS RESET---------------------------------- */

* {
  /*removes the padding and margin on all element-except generated content- 
  makes every single element -except generated content- border-box */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*-----------------------------CUSTOM VARIABLES-------------------------------- */
:root {
  /*primary colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /*secondary colors */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

/*GENERAL STYLES + BODY STYLES */

body {
  font-family: "Poppins", sans-serif; /*by default this font family has a bold font(will need to be removed on most texts) */
}

.light-text {
  font-weight: 100; /*all paragraph text should be very light */
}

section p {
  font-size: 0.75rem; /*paragraph text should compute to 15px */
}

/*---------------------------------------CONTAINER STYLES------------------------- */
.container {
  /*equivalent of min-height but based on writing mode, 
  this fixes the issue where my container was not taking up the full page.
  */
  min-block-size: 100vh;

  border: 8px solid darkcyan;
  background-color: var(--very-light-gray);
  padding: 3.25em 1.5em;
}

/*---------------------------------------SECTION STYLES------------------------- */

h2 {
  font-size: clamp(
    1rem,
    0.8rem + 1.5vw,
    2rem
  ); /*the h2 text will scale based on vw
  it wont go below 1rem( which computes to 20px) or above 2 rem( which computes to 40px) */
}
h2.section__title--light {
  font-weight: 200; /*the h2 thats lighter should be a bit more bold than the paragraphs */
}
h2.section__title--bold {
  margin-block-end: 1rem; /*create space between second h2 and paragraph  */
  font-weight: 600; /*proper fw according to design specs */
}

p.section__info {
  margin-block-end: 2.75rem; /*creates  space below the paragraph  */
}

/*---------------------------------------CARD STYLES------------------------- */

.card {
  margin: 1rem 0;
  padding: 1.5em;
  max-inline-size: 100%; /*same as setting max-width, make sure card does'nt overflow outside of its parent (grid container)  */
  border-radius: 7px;

  box-shadow: var(--grayish-blue) 0px 5px 15px; /*got box-shadow values from https://getcssscan.com/css-box-shadow-examples */

  display: flex;
  flex-direction: column;
}

h3.card__title {
  font-size: clamp(
    0.7rem,
    0.7rem + 1.5vw,
    1.8rem
  ); /*the h3 card title should be a bit smaller than the h2 section title  */
}

/*each card's border-top has a diff color */
.card.grid-item-1 {
  border-top: 4px solid var(--cyan);
}
.card.grid-item-2 {
  border-top: 4px solid var(--red);
}
.card.grid-item-3 {
  border-top: 4px solid var(--orange);
}
.card.grid-item-4 {
  border-top: 4px solid var(--blue);
}
.card__image {
  margin-block-start: 1.25rem; /*add space above svg images */
  align-self: flex-end; /*pushes the svg images all the way to the right */
}

/*---------------------------------------ATTRIBUTION STYLES------------------------- */
.attribution {
  /*if the attribution is a bit too close to the 4th card 
    create some space between the two
    so i might uncomment this line in the future
  */
  /* padding-block-start: 1em; */
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*---------------------------------------MEDIA QUERIES---------------------------------------------- */

/*800px is too small to make it like the design specs but too big to keep the mobile layout
so instead ill make a 2 by 2 grid
*/
@media screen and (min-width: 800px) {
  h2,
  .section__info {
    text-align: center;
  }
  .section__info {
    max-inline-size: 60ch;
    margin: 0 auto;
  }
  .grid-container {
    border: 2px solid firebrick;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1em;
  }
  .grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/1;
  }
  .grid-item-2 {
    grid-column: 2/3;
    grid-row: 1/1;
  }
  .grid-item-3 {
    grid-column: 1/2;
    grid-row: 2/2;
  }
  .grid-item-4 {
    grid-column: 2/3;
    grid-row: 2/2;
  }
}

/*at this screen size i can replicate the layout from the design specs */
@media screen and (min-width: 1000px) {
  .grid-item-3,
  .grid-item-1,
  .grid-item-4 {
    /*removes the margin above 3 cards makes the cards a bit bigger*/

    margin-block-start: 0;
  }
  .card.grid-item-2 {
    margin-block-end: 0; /*removes margin below team builder card but makes that card bigger  */
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em; /*increased the col and row gap just a bit */
  }
  .grid-item-1 {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .grid-item-3 {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .grid-item-4 {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  .grid-item-1,
  .grid-item-4 {
    /*both grid items will be moved up by 50% */
    transform: translateY(-50%);
  }
}
