@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-------------------------------------CSS RESET---------------------------------- */

* {
  /*removes the padding and margin on all element-except generated content- 
  makes every single element -except generated content- border-box */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*-----------------------------CUSTOM VARIABLES-------------------------------- */
:root {
  /*primary colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /*secondary colors */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

/*GENERAL STYLES + BODY STYLES */
body {
  font-family: "Poppins", sans-serif; /*by default this font family has a bold font(will need to be removed on most texts) */
}

html,
body,
.container {
  /*container should take up the whole page and never be below 100% of viewport height(same as min-height) */
  min-block-size: 100%;
}
.light-text {
  font-weight: 100; /*all paragraph text should be very light */
}

/*---------------------------------------CONTAINER STYLES------------------------- */
.container {
  border: 2px solid darkcyan;
  background-color: var(--very-light-gray);
  padding: 3.25em 1.5em;
}

/*---------------------------------------SECTION STYLES------------------------- */
/*  ##important for the h2 texts I want to have more control over the font-size so i wont be using clamp() 
this is because i want the FOLLOWING TEXT " Reliable, efficient delivery" on one line i don't want it to wrap. 
I'll try setting no-wrap on it, but if it does'nt work or it messes with the layout or w/e 
then ill make the h2 text equal to 23.4px in rem cuz thats the size at which the h2 text is all in one line 
and the last word DOES NOT  wrap onto the next line
*/

h2 {
  text-wrap: nowrap;

  font-size: clamp(
    1rem,
    0.9rem + 1.5vw,
    2rem
  ); /*the h2 text will scale based on vw
  it wont go below 1rem( which computes to 20px) or above 2 rem( which computes to 40px) */
}
h2.section__title--light {
  font-weight: 200; /*the h2 thats lighter should be a bit more bold than the paragraphs */
}
h2.section__title--bold {
  margin-block-end: 1rem; /*create space between second h2 and paragraph  */
  font-weight: 600; /*proper fw according to design specs */
}
p.section__info {
  margin-block-end: 2.75rem; /*creates  space below the paragraph  */
}

/*---------------------------------------ATTRIBUTION STYLES------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
